
<div>
    <div class="nav-bar">
        <ul class="user-nav">
            <li class="user-icon">@MeritPay.Core.Common.CommonHelper.CurrentUserShowLabel</li>
            <li class="date-icon">امروز : @Faranam.Utils.PersianDate.Today(true, false)</li>
            <li>
                <form method="get" style="float:left" action="@Url.Action("ExitProgram")">
                    <input type="submit" class="signout-icon" value="خروج" />
                </form>
            </li>
        </ul>
    </div>
    <div class="header">
        <div class="header-right">
            <span>ســامانه محــاسبه کــارانه</span>
            <div class="arm"></div>
        </div>
    </div>
    <div class="menu">
        <div class="home"><a href="http://bs.ba24.ir/"></a></div>
        <ul id="main-menu"></ul>
    </div>


</div>


