
@{
    ViewData["Title"] = "داشبورد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="frm">
    <div id="container">
        <div d-wrp="داشبورد" class="x4 k-rtl">
            
        </div>       
    </div>
</form>